<div class="post-holder" id="{{data._id}}">
    <div class="top-holder">
        <div class="content-holder">
            <p>
                {{data.sentence}}
            </p>
        </div>
        <div class="vote-holder">
            <div class="post-objectID" id="{{data._id}}"></div>
            <div class="user-objectID" id="{{data.userid}}"></div>
            {{#if data.upvote}}
                <img id="votes-uparrow" class="vote-arrow img-selected img-upvote"
                src="https://cdn-icons.flaticon.com/png/512/4103/premium/4103128.png?token=exp=1637631859~hmac=ffa7ac5371a0c7fd621b7b3e41c6f7ff">
                {{else}}
                <img id="votes-uparrow" class="vote-arrow"
                src="https://cdn-icons.flaticon.com/png/512/4103/premium/4103128.png?token=exp=1637631859~hmac=ffa7ac5371a0c7fd621b7b3e41c6f7ff">
            {{/if}}

            <p id="votes-amount"> 
                {{data.votes}} 
            </p>

            {{#if data.downvote}}
                <img id="votes-downarrow" class="vote-arrow img-selected img-downvote"
                src="https://cdn-icons.flaticon.com/png/512/4103/premium/4103128.png?token=exp=1637631859~hmac=ffa7ac5371a0c7fd621b7b3e41c6f7ff">
                {{else}}
                <img id="votes-downarrow" class="vote-arrow"
                src="https://cdn-icons.flaticon.com/png/512/4103/premium/4103128.png?token=exp=1637631859~hmac=ffa7ac5371a0c7fd621b7b3e41c6f7ff">
            {{/if}}
        </div>
    </div>
    <div class="line-break"></div>
    <div class="bottom-holder">
        <div id="time-ago">
            <img src="https://cdn2.iconfinder.com/data/icons/pittogrammi/142/10-512.png" alt="">
            <p> 
                {{data.timeAgo}} 
            </p>
        </div>
        <div id="comment-sect">
            <a href="/comment/{{data._id}}">
                Go to comments
            </a>
            <p>
                {{data.comments.length}} comments
            </p>
        </div>
    </div>
</div>
