<div class="post-holder" id="{{data._id}}">
    <div class="top-holder">
        <div class="content-holder">
            <p style="white-space: pre-line">
                {{data.sentence}}
            </p>
        </div>
        <div class="vote-holder">
            <div class="post-objectID" id="{{data._id}}"></div>
            <div class="user-objectID" id="{{data.userid}}"></div>
            {{#if data.upvote}}
                <img id="votes-uparrow" class="vote-arrow img-selected img-upvote"
                src="https://cdn-icons-png.flaticon.com/512/892/892683.png">
                {{else}}
                <img id="votes-uparrow" class="vote-arrow"
                src="https://cdn-icons-png.flaticon.com/512/892/892683.png">
            {{/if}}

            <p id="votes-amount"> 
                {{data.votes}} 
            </p>

            {{#if data.downvote}}
                <img id="votes-downarrow" class="vote-arrow img-selected img-downvote"
                src="https://cdn-icons-png.flaticon.com/512/892/892625.png">
                {{else}}
                <img id="votes-downarrow" class="vote-arrow"
                src="https://cdn-icons-png.flaticon.com/512/892/892625.png">
            {{/if}}
        </div>
    </div>
    <div class="line-break"></div>
    <div class="bottom-holder">
        <div id="time-ago">
            <img src="https://cdn2.iconfinder.com/data/icons/pittogrammi/142/10-512.png" alt="">
            <p> 
                {{data.timeAgo}} 
            </p>
        </div>
        <div id="comment-sect">
            <a href="/comment/{{data._id}}">
                Go to comments
            </a>
            <p>
                {{data.comments.length}} comments
            </p>
        </div>
    </div>

    {{#if this.isUserOwner}}
        <div style="display: flex; margin-left: 5px;">
            <form method="post" style="margin: 0; width: 15%;" action="profile/post/{{data._id}}/delete">
                <button class="delete-button">Delete</button>
            </form>
        
            <form method="post" style="margin: 0; width: 15%;" action="profile/post/{{data._id}}/update">
                <button class="update-button">Update</button>
            </form> 
        </div>
    {{/if}}
</div>
